/* style.css
 * This file provides css styles.
 */
body, html {
    background-color: #3b4b54;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #00aed1;
}

a:hover {
    text-decoration: underline;
}

.newappIcon {
    padding-top: 10%;
    display: block;
    margin: 0 auto;
    padding-bottom: 2em;
    max-width: 240px;
}

h1 {
    margin: auto;
    font-weight: bold;
    font-size: 2.2em;
}

.q1
{
    background-color: black;
    fill: #FFFFFF;
}

.q2
{
    background-color: black;
    fill: #FFFF99;
}

.q3
{
    background-color: black;
    fill: #FFB870;
}

.q4
{
    background-color: black;
    fill: #FF6600;
}

.q5
{
    background-color: black;
    fill: #FF0000;
}

.q6
{
    background-color: black;
    fill: #801A00;
}

.center {
    margin: auto;
    width: 60%;
    padding: 20px;
}

.title { 
    margin: auto;
    width: 60;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align:center;
}

.heatmeter { 
    padding-top: 5px;
    color: grey;
    font-size: 75%;
    float: left;
}

.urlinput { 
    width: 60;
}

.heatbutton { 
    padding-top: 20px;
}
.measurebtn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    text-shadow: 1px 1px 3px #000000;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    background: #5f6e78;
    padding: 15px 20px 10px 20px;
    border: solid #000000 2px;
    text-decoration: none;
}

.measurebtn:hover {
    background: #db2828;
    text-decoration: none;
}

.leftHalf {
    float: left;
    background-color: #26343f;
    width: 45%;
    height: 100%;
}

.rightHalf {
    float: right;
    width: 55%;
    background-color: #313f4a;
    height: 100%;
    overflow: auto;
}

.description {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-size: 1.2em;
}

.blue {
    color: #00aed1;
}

table {
    table-layout: fixed;
    width: 800px;
    margin: 0 auto;
    word-wrap: break-word;
    padding-top: 10%;
}

th {
    border-bottom: 1px solid #000;
}

th, td {
    text-align: left;
    padding: 2px 20px;
}

.env-var {
    text-align: right;
    border-right: 1px solid #000;
    width: 30%;
}

pre {
    padding: 0;
    margin: 0;
}
