[user]
	email = schurman@ca.ibm.com
	name = Brandon Schurman
[credential]
    helper = store

[credential "https://shurman93@hub.jazz.net"]
    username = schurman93
    name = Brandon Schurman
    helper = store

[credential "http://schurman-ca@github.rtp.raleigh.ibm.com"]
    username = schurman-ca
    name = Brandon Schurman
    helper = store
