<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ template "title" . }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <link rel="stylesheet" href="/static/stylesheets/style.css" />
        <link rel="stylesheet" href="/static/stylesheets/materialize.css" />
        <link rel="icon" type="image/png" href="/static/images/flame.png">
    </head>
    <body onunload=""> 
        <script type="text/javascript">
            $(document).ready(function() {
                $(".dropdown-button").dropdown({
                    belowOrigin: true // Displays dropdown below the button // doesn't work :S
                });
            });
        </script>

        <ul id="dropdown" class="dropdown-content">
            <li><a href="/heatmap/repo/all">Repos</a></li>
            <li><a href="/heatmap/user">Users</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper">
                <div class="container">
                <a href="/" style=""class="brand-logo"><img src="/static/images/flame.png" style="padding-top:10px;width50px;height:50px;float:left;position:relative;">Heatify</a>
                <!--<a href="" class="brand-logo">Git-Monitor</a>-->
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/about">About</a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown">HeatMap<i style="float:right;" class="mdi-navigation-arrow-drop-down"></i></a></li>
                </ul>
                </div>
            </div>
        </nav>

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/static/javascripts/materialize.min.js"></script>
        <section id="contents">{{ template "content" . }}</section>
    </body>
</html>
