{{ define "title" }}Heatify - About{{ end }}
{{ define "content"}}

<div class="container">
    <br>
    <h1 style="text-align: center">About Heatify</h1>
    <h5 style="color: grey; text-align: center">Version 0.2.2 [<i>BETA</i>]</h5>
    <p class="flow-text">
    The main purpose of Heatify is to encourage good Agile development practice, where contributors make small and frequent commits. 
    Heatify accomplishes this by conveniently showing developers and managers their project activity. Heatify is also a fun way to compete for "heat" on popular projects, and compare the activity of entire squads on their project's.
    <br><br>
    Heatify works by keeping track of Git repositories that are entered in by users. 
    Under the hood, Heatify clones repositories, analyses their activity, and keeps new data in-sync with a Cloudant database. 
    By nature, viewing of a Heatmap for a brand-new repository can take a bit longer to load, depending on how large the repository is. This is because Heatify must clone the repository for the first time.
    <br><br>
    Heatify is developed and maintained by Brandon on the Dashboard squad of IBM Alchemy, with much of the high-level design coming from Andrew (Roo) Low, our squads STSM.
    <br><br>
    <!-- <img src="/static/images/golang.png" width="55px" height="75px"></img> -->
    </p>
    <h3 style="padding-top: 2%; padding-left: 10%">Usage</h3>
    <p class="flow-text">
    Heatify currently supports repositories from <a href="http://github.com">Github</a>, <a href="http://github.ibm.com">IBM GHE</a>, <a href="http://github.rtp.raleigh.ibm.com">IBM GitLab</a>, and <a href="http://hub.jazz.net">IBM DevOps Services</a>
    Here are some of the things you can do with Heatify:
    <br><br> <!-- ul and li don't work in materialize :( -->
    - Public Repositories: easily render a public repo into a Heatmap. Simply copy and paste the HTTP or HTTPS URL (or for IBM GHE, the SSH link) into the Git Url field on the <a href="/">Landing Page</a>
    <br><br>
    - Private Repositores: first add the <b>Git-Monitor Bot</b> as a member to your private repo. NOTE: private repositories are temporarily unavailable while we re-configure Git-Monitor's accounts.
    <br><br>
    - Squad Heatmaps: View a Heatmap showing an entire squad's activity on all of their repositories. For this feature, you must submit a JSON config file containing a list of a Squads members, and repositories. Please contact Brandon at <code><a href="mailto:schurman@ca.ibm.com">schurman@ca.ibm.com</a></code> or message @brandonsc on Slack. 
    <br><br>
    - User Heatmaps: coming soon! you can view a Heatmap showing your activity on all repositories you track on Heatify.
    </p>
</div>
{{ end }}
