{{ define "title" }}Heatify - About{{ end }}
{{ define "content"}}

<div class="container">
    <h1 style="text-align: center">About Heatify</h1>
    <h5 style="color: grey; text-align: center">Version 0.1 [<i>BETA</i>]</h5>
    <p class="flow-text">Heatify is developed by the Reference-Apps squad of the IBM Alchemy project.
    It's main purpose is to encourage good Agile development practice, where contributors make small and frequent commits. 
    Heatify accomplishes this by showing developers, quickly and visually, their project activity and commits are. 
    <br><br>
    The Reference-Apps team develops applications which test our IBM Bluemix cloud platform, as well as teach our customers about the advantages of using Bluemix and how to use it.
    <br> <br>
    <!-- <img src="/static/images/golang.png" width="55px" height="75px"></img> -->
    Haetify is our squad's first reference-app written in <a href="http://golang.org/">Go</a>.
    </p>
    <h3 style="padding-top: 2%; padding-left: 10%">Usage</h3>
    <p class="flow-text">
    Heatify currently supports both GitHub and IBM Jazz git repositories.
    Here are some of the things you can do with Heatify.
    <br><br>
    - Public Repositories: easily render a public repo into a HeatMap. Simply copy and paste the HTTP or HTTPS URL into the field on the <a href="/">Landing Page</a>
    <br><br>
    - Private Repositores: first add the <b>Git Monitr</b> bot as a member to your private repo. Heatify's is becoming increasingly more secure, but for now becareful if you have code you don't want out in the world.
    <br><br>
    - Repository HeatMap: By default, Heatify will generate a HeatMap showing how many commits are made on each day of the month. The HeatMeter shows how many commits qualify for each tier.
    <br><br>
    - User HeatMap: coming soon! you can view a HeatMap showing your activity on all repositories you track on Heatify.
    </p>
    <h3 style="padding-top: 2%; padding-left: 10%">Technical Support</h3>
    <p class="flow-text">Message us on the #reference-apps squad channel through slack, or email Brandon at <a href="mailto:schurman@ca.ibm.com">schurman@ca.ibm.com</a></p>
</div>
{{ end }}
