<!DOCTYPE html>
{{ define "title" }}Heatify - {{.Title}}{{ end }}
{{ define "content"}}
<head>
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
    <link rel="stylesheet" href="/static/stylesheets/style.css" /> 
    <link rel="stylesheet" href="/static/stylesheets/style.css" />
    <link rel="stylesheet" href="/static/stylesheets/materialize.css" />
    <title>{{.Title}}</title>
</head>
<body>
    <div class="center">
        <div class="title">
            <h3>HeatMap of '{{.Title}}'</h3>
            <a target="_blank" href="http://{{.Repo}}" style="text-align:center;color:grey">{{.Repo}}</a>
        </div>
        <div class="container" style="padding-bottom:10px">
            <a id="right-pan" style="font-size: 24px; right: 0%" class="waves-effect waves-teal btn-flat">&#60;</a>
            <a id="left-pan" style="font-size: 24px; left: 0%" class="waves-effect waves-teal btn-flat">&#62;</a>
        </div>
        <div style="margin: auto; display: inline-block;">
            <div id="cal-heatmap"></div>
            <div>
                <a class="heatmeter">HeatMeter</a>
                <a id="total-commits" class="heatmeter" style="float: right;"></a> 
            </div>
        </div>
        <script type="text/javascript">

            var spinner = null; // the spinning-wheel shown when loading

            var cellSize = 15;
            if ( $(window).width() < 1700 ) 
                cellSize = 10;
            if ( $(window).width() < 1000 ) 
                cellSize = 5;
             
            //$(document).ready(function() {
                var loadMap = function ( form ) { 
                    var opts = {
                        lines: 13 // The number of lines to draw
                            , length: 28 // The length of each line
                            , width: 20 // The line thickness
                            , radius: 42 // The radius of the inner circle
                            , scale: 1 // Scales overall size of the spinner
                            , corners: 1 // Corner roundness (0..1)
                            , color: '#000' // #rgb or #rrggbb or array of colors
                            , opacity: 0.25 // Opacity of the lines
                            , rotate: 0 // The rotation offset
                            , direction: 1 // 1: clockwise, -1: counterclockwise
                            , speed: 1 // Rounds per second
                            , trail: 60 // Afterglow percentage
                            , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
                            , zIndex: 2e9 // The z-index (defaults to 2000000000)
                            , className: 'spinner' // The CSS class to assign to the spinner
                            , top: '50%' // Top position relative to parent
                            , left: '50%' // Left position relative to parent
                            , shadow: false // Whether to render a shadow
                            , hwaccel: false // Whether to use hardware acceleration
                            , position: 'absolute' // Element positioning
                    };
                    var target = document.getElementById('cal-heatmap')
                    spinner = new Spinner(opts).spin(target);
                };
            //});
            
            var data = {{.Data}};
            data = JSON.parse(data);
            var graphData = {};
            var startDate = new Date();
            for ( var i=0; i<data.length; i++ ) { 
                var d = new Date(data[i].date);
                d.setDate(d.getDate() + 1);
                graphData[d.getTime()/1000] = data[i].commits;
                if ( d.getTime() < startDate.getTime() ) 
                    startDate = d
            }
            
            var total = document.getElementById('total-commits');
            total.innertHtml += " "+ data.length;
            
           
            /*
            var parse = function(data) { 
                var parsed = {};
                for ( var i=0; i<data.length; i++ ) { 
                    var d = new Date(data[i].date);
                    d = ""+(d.getTime()/1000);
                    if ( parsed[d] )
                        parsed[d]++
                    else
                        parsed[d] = 1;
                }
                return parsed;
            };
            var p = parse(data);
            console.log(p);
                */

            var cal = new CalHeatMap();
            cal.init({
                itemName: "commit",
                considerMissingDataAsZero: true,
                cellSize: cellSize,
                legendCellSize: 15,
                legend: [0, 4, 10, 20, 30], 
                nimationDuration: 600,
                range: 12,
                domain: "month",
                subDomain: "day",
                tooltip: true,
                start:  new Date(startDate.getFullYear(), startDate.getMonth(), startDate.getDay()),
                data: graphData,
                onComplete: function() { if(spinner) spinner.stop(); } 
            });

            $("#left-pan").on("click", function(e) {  
                e.preventDefault();
                cal.next();
            });

            $("#right-pan").on("click", function(e) {
                e.preventDefault();
                cal.previous();
            });
        </script>
    </div>
</body>
{{ end }} 
