<!DOCTYPE html>
{{ define "title" }}Heatify - {{.Title}}{{ end }}
{{ define "content"}}
<head>
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
    <script type="text/javascript" src="/static/javascripts/heatmapBuilder.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
    <link rel="stylesheet" href="/static/stylesheets/style.css" /> 
    <link rel="stylesheet" href="/static/stylesheets/style.css" />
    <link rel="stylesheet" href="/static/stylesheets/materialize.css" />
    <title>{{.Title}}</title>
</head>
<body>
    <div class="center">
        <div class="title">
            <h3>Heatmap of '{{.Title}}'</h3>
            <a target="_blank" href="http://{{.Repo}}" style="text-align:center;color:grey">{{.Repo}}</a>
        </div>
        <div class="container" style="padding-bottom:10px">
            <a id="right-pan" style="font-size: 24px; right: 0%" class="waves-effect waves-teal btn-flat">&#60;</a>
            <a id="left-pan" style="font-size: 24px; left: 0%" class="waves-effect waves-teal btn-flat">&#62;</a>
        </div>
        <div style="margin: auto; display: inline-block;">
            <div id="cal-heatmap"></div>
            <div>
                <a class="heatmeter">HeatMeter</a>
                <a id="total-commits" class="heatmeter" style="float: right;"></a> 
                <nobr style="float:center;"> 
                    <span id="num-commits"></span> 
                    commits 
                    &nbsp; &mdash; &nbsp; ~
                    <span id="commits-day" style="color:red;"></span> / day</nobr>
            </div>
        </div>
        <script type="text/javascript">
            var cellSize = 15;
            if ( $(window).width() < 1700 ) 
                cellSize = 10;
            if ( $(window).width() < 1000 ) 
                cellSize = 5;
            
            var data = {{.Data}};
            data = JSON.parse(data);
            var graphData = {};
            var startDate = new Date();
            var endDate = startDate;
            var totalCommits = 0;
            for ( var i=0; i<data.length; i++ ) { 
                var d = new Date(data[i].date);
                d.setDate(d.getDate() + 1);
                graphData[d.getTime()/1000] = data[i].commits;
                if ( d.getTime() < startDate.getTime() ) 
                    startDate = d
                if ( d.getTime() > endDate.getTime() ) 
                    endDate = d;
                totalCommits = totalCommits + data[i].commits;
            }

            buildHeatmap(graphData, null);

            // set the number of total commits and commits/day in UI
            var oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds
            var diffDays = Math.round(Math.abs((endDate.getTime() - startDate.getTime())/(oneDay)));
            document.getElementById("num-commits").innerHTML = totalCommits;
            document.getElementById("commits-day").innerHTML = (totalCommits/diffDays).toFixed(2);

            var total = document.getElementById('total-commits');
            total.innertHtml += " "+ data.length;
        </script>
    </div>
</body>
{{ end }} 
