{{ define "title" }}Heatify{{ end }}
{{ define "content"}}

<table style="width:50%; margin-left:20%;">

    <tr> 
        <td style='width: 40%; padding-top:10%;'>
            <img class='newappIcon' src='/static/images/gitmonitorlogo.png'>
            <p align="center">
            The <b>Git-Monitor Bot</b>'s email is:<br>
            <code><a href="mailto:git-monitor@bg.vnet.ibm.com">git-monitor@bg.vnet.ibm.com</a></code>
            </p>
        </td>
        <td style='padding-top:10%'>
            <h1 id="message">Heatify [<i>BETA</i>]</h1>
            <p>
            Heatify tracks your git repositories from Jazz and GitHub,
            and crunches the latest commit statistics for you to view in a HeatMap. 
            </p>
            <p>
            The goal of Heatify is to encourage good Agile development practices. 
            That is, we would like to encourage developers to contribute small, coherent commits, frequently.
            Commits should precisely address one issue or feature within the project. 
            </p>
            <p>
            <h5 style="padding-top: 5px">Getting Started</h5>
            Heatify works out-of-the-box on public Jazz and GitHub git repositories; 
            simply copy and paste the http URL into the field below to start tracking and view the HeatMap!
            To view a HeatMap for a private repository, 
            first add the <b>Git-Monitor Bot</b> as a member to your repo.
            </p>

            <form action="heatmap/repo" onsubmit="loadMap(this)">
                <div style="padding-top:20px;">
                    <div class="input-field col s12">
                        <input id="url" type="text" name="url" class="validate">
                        <label style="position:absolute"class="active" for="url">Git URL:</label>
                    </div>
                </div>

                <div class="heatbtn" id="id">
                    <button  type="submit" href="/heatmap/repo" class="btn waves-effect waves-light">Measure the Heat</button>
                </div>
            </form>
        </td>
    </tr>
    <script type="text/javascript">
        var spinner;
        var loadMap = function ( form ) { 
            var opts = {
                lines: 13 // The number of lines to draw
                    , length: 28 // The length of each line
                    , width: 20 // The line thickness
                    , radius: 42 // The radius of the inner circle
                    , scale: 1 // Scales overall size of the spinner
                    , corners: 1 // Corner roundness (0..1)
                    , color: '#000' // #rgb or #rrggbb or array of colors
                    , opacity: 0.25 // Opacity of the lines
                    , rotate: 0 // The rotation offset
                    , direction: 1 // 1: clockwise, -1: counterclockwise
                    , speed: 1 // Rounds per second
                    , trail: 60 // Afterglow percentage
                    , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
                    , zIndex: 2e9 // The z-index (defaults to 2000000000)
                    , className: 'spinner' // The CSS class to assign to the spinner
                    , top: '50%' // Top position relative to parent
                    , left: '50%' // Left position relative to parent
                    , shadow: false // Whether to render a shadow
                    , hwaccel: false // Whether to use hardware acceleration
                    , position: 'absolute' // Element positioning
            };
            var target = document.getElementById('id')
                spinner = new Spinner(opts).spin(target);
        };
        $(document).unload(function() {
            console.log(spinner)
                if ( spinner ) spinner.stop(); 
        });
    </script>
    <script type="text/javascript" src="static/javascripts/spin.min.js"></script>
</table>
{{ end }}
