{{ define "title" }}Git-Monitor{{ end }}
{{ define "content"}}
<table>
	<tr>
		<td style='width: 30%;'>
			<img class = 'newappIcon' src='/static/images/newapp-icon.png'>
		</td>
		<td>
            <h1 id="message">Git-Monitor [<i>BETA</i>]</h1>
			<p>
                If you want to view a HeatMap for a public repository,
                just enter the URL below (without the http:// or https:// prefix).
            </p>
            <p>
                If you would like to view a HeatMap for a private repository, 
                you will have to first add the Git Bot user to your repo. 
                The bot's email is git-monitor@bg.vnet.ibm.com. NOTE: this bot isn't ready yet
            </p>
            <form id="urlinput" action="/heatmap">
                Repository URL: <input type="text/plain" size="40" name="repo" value="hub.jazz.net/git/schurman93/Git-Monitor"><br>
                <input type="submit" value="Measure the Heat">
            </form>
		</td>
	</tr>
</table>
{{ end }}
