<!DOCTYPE html>
{{ define "title" }}Heatify - {{.Title}}{{ end }}
{{ define "content"}}
<head>
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
    <link rel="stylesheet" href="/static/stylesheets/style.css" /> 
    <link rel="stylesheet" href="/static/stylesheets/style.css" />
    <link rel="stylesheet" href="/static/stylesheets/materialize.css" />
    <title>{{.Title}}</title>
</head>
<body>
    <div class="center">
        <div class="title">
            <h3>Heatmap of '{{.Title}}' Squad</h3>
        </div>
        <div class="container" style="padding-bottom:10px">
            <a id="right-pan" style="font-size: 24px; right: 0%" class="waves-effect waves-teal btn-flat">&#60;</a>
            <a id="left-pan" style="font-size: 24px; left: 0%" class="waves-effect waves-teal btn-flat">&#62;</a>
        </div>
        <div style="margin: auto; display: inline-block;">
            <div id="cal-heatmap"></div>
            <div>
                <a class="heatmeter">HeatMeter</a>
                <a id="total-commits" class="heatmeter" style="float: right;"></a> 
                <nobr style="float:center;">Commits: 
                    <span id="num-commits" style="color:red;"></span> 
                    &nbsp; &mdash; &nbsp; ~
                    <span id="commits-day" style="color:red;"></span> / day</nobr>
            </div>
        </div>
    </div>
    <div class="container center">
        <div id="repos-list">
            <h5>Repos</h5>
        </div>
        <br>
        <div id="members-list">
            <h5>Members</h5>
        </div>
    </div>
    
    <script src="/static/javascripts/gitUrlParser.js"></script>
    <script type="text/javascript">

        var cellSize = 15;
        if ( $(window).width() < 1700 ) 
            cellSize = 10;
        if ( $(window).width() < 1000 ) 
            cellSize = 5;
        
        var obj = {{.Data}};
        obj = JSON.parse(obj);
        var data = obj.commits;
        var graphData = {};
        var startDate = new Date();
        var graphData = {};
        var startDate = new Date();
        var totalCommits = 0;
        var totalDays = 0;
        for ( var i=0; i<data.length; i++ ) { 
            var d = new Date(data[i].date);
            d.setDate(d.getDate() + 1);
            graphData[d.getTime()/1000] = data[i].commits;
            if ( d.getTime() < startDate.getTime() ) 
                startDate = d
            totalDays = totalDays + 1;
            totalCommits = totalCommits + data[i].commits;
        }
        
        // set the number of total commits and commits/day in UI
        document.getElementById("num-commits").innerHTML = totalCommits;
        document.getElementById("commits-day").innerHTML = (totalCommits/totalDays).toFixed(2);
        
        var total = document.getElementById('total-commits');
        total.innertHtml += " "+ data.length;

        var tdy = new Date();
        var cal = new CalHeatMap();
        cal.init({
            itemName: "commit",
            considerMissingDataAsZero: true,
            cellSize: cellSize,
            legendCellSize: 15,
            legend: [0, 4, 10, 20, 30], 
            animationDuration: 600,
            range: 12,
            domain: "month",
            subDomain: "day",
            tooltip: true,
            start: new Date(tdy.getFullYear(), tdy.getMonth()-11, tdy.getDay()),
            //start:  new Date(startDate.getFullYear(), startDate.getMonth(), startDate.getDay()),
            data: graphData,
        });

        $("#left-pan").on("click", function(e) {  
            e.preventDefault();
            cal.next();
        });

        $("#right-pan").on("click", function(e) {
            e.preventDefault();
            cal.previous();
        });

        $(document).ready(function() { 
            var squad = obj.squad;
            var repos = document.getElementById("repos-list");
            var reposStr = "";
            for ( var i=0; i<squad.repos.length; i++ ) {
                var name = parseNameFromGit(squad.repos[i]);
                reposStr += "<a target='_blank' href='http://"+squad.repos[i]+"' style='color:white;font-size:17px;'>"+name+"</a>";
                if ( i != squad.repos.length-1 ) 
                    reposStr += ", ";
            }
            repos.innerHTML += reposStr;
            var members = document.getElementById("members-list");
            var membersStr = "";
            for ( var i=0; i<squad.members.length; i++ ) {
                membersStr += "<a target='_blank' href='/heatmap/users/"+squad.members[i]+"' style='color:white;font-size:17px;'>"+squad.members[i]+"</a>";
                if ( i != squad.members.length-1 ) 
                    membersStr += ", ";
            }
            members.innerHTML += membersStr;
        });
    </script>
</body>
{{ end }} 
