<!DOCTYPE html>
{{ define "title" }}Heatify - {{.Title}}{{ end }}
{{ define "content"}}
<head>
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
    <script type="text/javascript" src="/static/javascripts/heatmapBuilder.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
    <link rel="stylesheet" href="/static/stylesheets/style.css" /> 
    <link rel="stylesheet" href="/static/stylesheets/style.css" />
    <link rel="stylesheet" href="/static/stylesheets/materialize.css" />
    <title>{{.Title}}</title>
</head>
<body>
    <div class="center">
        <div class="title">
            <h3>Heatmap of '{{.Title}}' Squad</h3>
        </div>
        <div class="container" style="padding-bottom:10px">
            <a id="right-pan" style="font-size: 24px; right: 0%" class="waves-effect waves-teal btn-flat">&#60;</a>
            <a id="left-pan" style="font-size: 24px; left: 0%" class="waves-effect waves-teal btn-flat">&#62;</a>
        </div>
        <div style="margin: auto; display: inline-block;">
            <div id="cal-heatmap"></div>
            <div>
                <a class="heatmeter">HeatMeter</a>
                <a id="total-commits" class="heatmeter" style="float: right;"></a> 
                <nobr style="float:center;"> 
                    <span id="num-commits"></span> 
                    commits
                    &nbsp; &mdash; &nbsp; ~
                    <span id="commits-day" style="color:red;"></span> / day</nobr>
            </div>
        </div>
    </div>
    <div class="container center">
        <div id="repos-list">
            <h5>Repos</h5>
        </div>
        <br>
        <div id="members-list">
            <h5>Members</h5>
        </div>
    </div>
    
    <script src="/static/javascripts/gitUrlParser.js"></script>
    <script type="text/javascript">

        var cellSize = 15;
        if ( $(window).width() < 1700 ) 
            cellSize = 10;
        if ( $(window).width() < 1000 ) 
            cellSize = 5;
        
        var obj = {{.Data}};
        obj = JSON.parse(obj);
        var data = obj.commits;
        var graphData = {};
        var startDate = new Date();
        var endDate  = new Date();
        var totalCommits = 0;
        for ( var i=0; i<data.length; i++ ) { 
            var d = new Date(data[i].date);
            d.setDate(d.getDate() + 1);
            graphData[d.getTime()/1000] = data[i].commits;
            if ( d.getTime() < startDate.getTime() ) 
                startDate = d
            if ( d.getTime() > endDate.getTime() ) 
                endDate = d;
            totalCommits = totalCommits + data[i].commits;
        }
        
        // set the number of total commits and commits/day in UI
        var oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds
        var diffDays = Math.round(Math.abs((endDate.getTime() - startDate.getTime())/(oneDay)));
        document.getElementById("num-commits").innerHTML = totalCommits;
        document.getElementById("commits-day").innerHTML = (totalCommits/diffDays).toFixed(2);
        
        var total = document.getElementById('total-commits');
        total.innertHtml += " "+ data.length;

        buildHeatmap(graphData, null);

        $(document).ready(function() { 
            var squad = obj.squad;
            var repos = document.getElementById("repos-list");
            var reposStr = "";
            for ( var i=0; i<squad.repos.length; i++ ) {
                var name = parseNameFromGit(squad.repos[i]);
                reposStr += "<a href='/heatmap/repo?url="+encodeURIComponent(squad.repos[i])+"' style='color:white;font-size:17px;'>"+name+"</a>";
                if ( i != squad.repos.length-1 ) 
                    reposStr += ", ";
            }
            repos.innerHTML += reposStr;
            var members = document.getElementById("members-list");
            var membersStr = "";
            for ( var i=0; i<squad.members.length; i++ ) {
                //membersStr += "<a target='_blank' href='/heatmap/users/"+squad.members[i]+"' style='color:white;font-size:17px;'>"+squad.members[i]+"</a>";
                membersStr += "<a href='/heatmap/user' style='color:white;font-size:17px;'>"+squad.members[i]+"</a>";
                if ( i != squad.members.length-1 ) 
                    membersStr += ", ";
            }
            members.innerHTML += membersStr;
        });
    </script>
</body>
{{ end }} 
